.formItem {
    padding: 10px 20px;
}

@media only screen and (max-width: 768px) {
    .formItem {
        padding: 10px 0;
    }
}

.formItem input {
    padding: 8px 15px;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid black;
    width: 500px;
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    .formItem input {
        margin: 0;
    }
}

.formItem label {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    .formItem label {
        text-align: left;
        width: auto;
        font-weight: 700;
    }
}

.addForm {
    width: 90%;
    max-width: 900px;
    margin: 100px auto;
    position: fixed;
    background: white;
    box-shadow: 0px 0px 8px #5c5c5c;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    z-index: 10;
    overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    .addForm {
        padding: 10px;
        text-align: center;
    }
}

.addForm button {
    width: 100%;
    margin-top: 30px;
}

.wishlistTitle {
    margin-bottom: 50px;
}

.addPopupBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000096;
}

.addWishlistButton {
    border: none;
    background: #208734;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: .5px;

}

.addNameButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px;
}
